.pL { padding-left: 20px !important;}
.one-third, .ali { 
	width: 33% !important;
	float: left;
	text-align: center;
}
.one {
	float: left;
	text-align: center;
}


.full {width: 100%; height: 100%;}
.record_controls {
	width: 200px;
	position: fixed;
	bottom: 10px;
	left: calc(50% - 100px);
}
#record {
	background-color: rgb(63,81,181);
}
#map_record {
	height: calc(100% - 100px);
	min-height: 417px;
	background-color: black;
}
.recordButton {
	width: 70px !important;
	height: 70px !important;
}

.secondaryAction {
	margin-top: 10px;
	width: 50px;
	height: 50px;
}

.demo-card-image.mdl-card {
  width: calc(100% - 16px);
  margin: 8px;
  height: 222px;
  background: url('../img/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.recording {
	background-color: red !important;
	color: white;
}

.white {
	color: white !important;
}